<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Backend" />

<f:section name="headline">
    <h1>
        Accessibility Check Result
    </h1>
</f:section>

<f:section name="content">

    <f:for each="{results}" as="result">
        <f:be.infobox state="{result.state}" title="{result.title}" message="{result.description}" />

        <f:if condition="{result.hasErrors}">
            <div>
                Impact: {result.impact}
            </div>
            <div>
                Help: {result.help}
            </div>
            <div>
                Help URL: {result.helpUrl}
            </div>

            <f:groupedFor each="{result.nodes}" as="nodes" groupBy="uid" groupKey="elementUid">
                <div>
                    <div>Element UID ({checkDemand.preset.checkTableName}): {elementUid}</div>
                    <f:for each="{nodes}" as="node">
                        <div>Element HTML: {node.html}</div>
                    </f:for>
                </div>
            </f:groupedFor>
        </f:if>

    </f:for>

</f:section>

</html>