<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
    <h1>
        <f:translate key="title.index" />
    </h1>

    <f:form action="index" name="checkDemand" object="{checkDemand}">
        <div class="form-row">
            <div class="form-group">
                <label for="preset" class="form-label col-xs-3">
                    <f:translate key="labels.preset" />
                </label>
                <f:form.select id="preset" property="preset" options="{presets}" optionValueField="id"
                               optionLabelField="name"
                               additionalAttributes="{onChange : 'document.checkDemand.submit();'}"
                               class="form-select"/>
            </div>

            <div class="form-group">
                <label for="preset" class="form-label col-xs-2">
                    <f:translate key="labels.level" />
                </label>
                <f:form.select id="level" property="level" options="{levelSelectorOptions}" class="form-select"/>
            </div>

            <div class="form-group align-self-end">
                <f:form.submit value="{f:translate(key: 'labels.start')}" property="analyze" class="btn btn-default"/>
            </div>
        </div>
    </f:form>

    <f:if condition="{savedResultsCount} > 0">
        <div class="callout callout-info">
            <div class="media">
                <div class="media-left">
                    <span class="icon-emphasized">
                        <core:icon identifier="actions-info" />
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="callout-title">{f:translate(key: 'savedResults.title')}</h4>
                    <div class="callout-body">
                        <p>
                            {f:translate(key: 'savedResults.message', arguments: '{0: savedResultsCount}')}
                        </p>
                        <p>
                            <f:link.action action="results" class="btn btn-info">{f:translate(key: 'savedResults.review')}</f:link.action>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </f:if>

</f:section>

</html>