<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Backend" />

<f:section name="headline">
    <h1>
        Accessibility Check
    </h1>
</f:section>

<f:section name="content">
    <f:form action="index" name="checkDemand" object="{checkDemand}" class="form-horizontal settings">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="preset" class="control-label col-xs-2">Preset</label>
                <div class="col-xs-10">
                    <f:form.select id="preset" property="preset" options="{presets}" optionValueField="id" optionLabelField="name" additionalAttributes="{onChange : 'document.checkDemand.submit();'}" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <f:form.submit value="Go" property="analyze" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="preset" class="control-label col-xs-2">Level</label>
                <div class="col-xs-10">
                    <f:form.select id="level" property="level" options="{levelSelectorOptions}" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </f:form>

    <f:if condition="{savedResultsCount} > 0">
        <div class="callout callout-info">
            <div class="media">
                <div class="media-left">
                    <span class="fa-stack fa-lg callout-icon"> <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-info fa-stack-1x"></i> </span>
                </div>
                <div class="media-body">
                    <h4 class="callout-title">{f:translate(key: 'savedResults.title')}</h4>
                    <div class="callout-body">
                        <p>
                            {f:translate(key: 'savedResults.message', arguments: '{0: savedResultsCount}')}
                        </p>
                        <p>
                            <f:link.action action="results" class="btn btn-info">{f:translate(key: 'savedResults.review')}</f:link.action>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </f:if>

</f:section>

</html>