.panel.panel-a11y {
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.panel-a11y .panel-title a {
    display: block;
    padding: 2px 0;
}

.panel-a11y .panel-heading {
    border-left: 2px solid #cccccc;
}

.panel-a11y .panel-body {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.panel-a11y .panel-body a {
    text-decoration: none;
}

.panel-a11y .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}

.panel-a11y .panel-title .collapsed .caret {
    transform: rotate(-90deg);
}

.panel-group-a11y pre {
    margin-bottom: 5px;
}

.panel-a11y .impact-0 {
    background-color: #c83c3c;
    border-color: #c83c3c;
    color: #ffffff;
}

.panel-a11y .impact-1 {
    --typo3-panel-header-color: var(--typo3-panel-success-header-color);
    --typo3-panel-header-bg: var(--typo3-panel-success-header-bg);
    --typo3-panel-border-color: var(--typo3-panel-success-border-color);
}

.panel-a11y .impact-2,
.panel-a11y .impact-3 {
    --typo3-panel-header-color: var(--typo3-panel-warning-header-color);
    --typo3-panel-header-bg: var(--typo3-panel-warning-header-bg);
    --typo3-panel-border-color: var(--typo3-panel-warning-border-color);
}

.panel-a11y .impact-4,
.panel-a11y .impact-5 {
    --typo3-panel-header-color: var(--typo3-panel-danger-header-color);
    --typo3-panel-header-bg: var(--typo3-panel-danger-header-bg);
    --typo3-panel-border-color: var(--typo3-panel-danger-border-color);
}

